{{#resume.basics}}
        <section id="sec_name">
                <h1 class="txtname txtcenter">{{name}}</h1>
                <h3 class="txtposition txtcenter">{{label}}</h3>
        </section>
{{/resume.basics}}